@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    /* --cor-terciaria: #F45050; */
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;

}

body{
    /* height: 100vh; preencher 100% da altura do viewport */
    box-sizing: border-box; /*os elementos filhos ficam dentro do pai mesmo com bordas*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 5%; /*superior direito inferior esquerdo*/ 
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
     font-family: var(--fonte-secundaria);
     font-weight: 600;
     color: var(--cor-terciaria);
     font-size: 1.5rem;
     text-decoration: none;
}

.apresentacao{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    /* width: 615px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    /* font-size: 36px; 16pc = 1 rem */
   font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.imagem__insta{
    width: 32px;
}

.apresentacao__links__botao{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    /* width: 378px; */
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0; /*primeiro valor vertical, segundo horizontal*/
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.apresentacao__links__botao:hover{
    background-color: var(--cor-hover);
    /* color: aqua; */
}

.apresentacao__imagem{
    width: 50%;

}

.rodape{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align:center;
    color: #000000;
    background-color: var(--cor-terciaria);
    padding: 23.64px;    


}

@media (max-width:1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }
    .apresentacao__conteudo{
        width: auto;
    }
     .apresentacao__links__botao{
        width: 60%;
    }
}
